<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde minus
        laborum adipisci reprehenderit nesciunt aliquam provident possimus
        aspernatur nisi illum, alias ipsam facilis iure rerum fuga amet voluptas
        distinctio. Ad.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde minus
        laborum adipisci reprehenderit nesciunt aliquam provident possimus
        aspernatur nisi illum, alias ipsam facilis iure rerum fuga amet voluptas
        distinctio. Ad.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde minus
        laborum adipisci reprehenderit nesciunt aliquam provident possimus
        aspernatur nisi illum, alias ipsam facilis iure rerum fuga amet voluptas
        distinctio. Ad.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde minus
        laborum adipisci reprehenderit nesciunt aliquam provident possimus
        aspernatur nisi illum, alias ipsam facilis iure rerum fuga amet voluptas
        distinctio. Ad.
      </p>
    </div>
  </body>
</html>
<%- include('./partials/footer.ejs') %>
